<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录历史</title>
    <!-- 加载 React。-->
    <!-- 注意: 部署时，将 "development.js" 替换为 "production.min.js"。-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://unpkg.com/antd@3.9.3/dist/antd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/antd@3.9.3/dist/antd.min.css"/>


    <!-- 加载 React 组件。-->
    <script type="text/babel" src="/model/table.js"></script>
</head>
<body>

<div id="table" style="padding: 50px;margin: 0 auto;width: 700px" />

</body>
</html>